.movie-card {
    border: 1px solid #942020;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
    width: 200px;
    overflow: hidden;
    padding: 5px;

}

.movie-card img {
    width: 100%;
}
.movie-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 16px rgba(30, 26, 26, 0.3); 
}
@media screen and (min-width: 768px){
    .movie-card:hover {
        transform: scale(1.05); 
        box-shadow: 0px 8px 16px rgba(30, 26, 26, 0.3); 
    }
}